body {
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #13D6DB, #59DB19);
    padding: 40px;
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
}


nav {
    overflow: hidden;
    background-color: #0028db;
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1e67c9;
    color: #3FF3FC;
}

footer {
    overflow: hidden;
    background-color: #0028db;
    position: fixed;
    bottom: 0;
    width: 1350px;
    border: solid 2px #dbba44;
}

footer p.copyright {
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
    color: white;
    font-weight: 400;
    float: left;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    text-decoration: none;
}

footer a:hover {
    background-color: #1e67c9;
    color: #3FF3FC;
}

h2.welcome {
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
    font-weight: 400;
    text-align: center;

}

header {
    background-color: #7d9eda;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
}


h1 {
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}

div.top {
    border: solid 2px #dbba44;
}

.left {
    position: relative;
    text-align: center;
    color: black;
    background-image: url("/biosite/landingpageimages/image2.jpg");
    height: 400px;
    background-size: cover;
}

/*
.aboutcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} working on sizing down the pictures will be updates next turn in cycle */