body {
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #13D6DB, #59DB19);
    padding: 40px;
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
    min-height: 100vh;
}


nav {
    overflow: hidden;
    background-color: #0028db;
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1e67c9;
    color: #3FF3FC;
}

footer {
    padding: 20px;
    background-color: #0028db;
    color: #fff;
    text-align: center;
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
}

footer a {
    color: #3FF3FC;
}

h2.welcome {
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
    font-weight: 400;
    text-align: center;

}

header {
    background-color: #7d9eda;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
}


h1 {
    font-family: 'Lato', 'Georgia', 'Times New Roman', 'Times', 'serif';
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}

div.top {
    border: solid 2px #dbba44;
}

.button-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    /* Adjust the value as per your requirement */
    margin: 0 auto;
}

.button-container a {
    display: block;
    width: 30%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.button-container a:hover {
    background-color: #000;
    color: #fff;
}

.button {
    display: inline-block;
    position: relative;
}

.button img {
    display: block;
    width: 100%;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 24px;
    font-weight: bold;
    color: rgb(89, 89, 89);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}