.container {
    position: relative;
    text-align: center;
    color: white;
    background-image: url("/bioSite/About_Page/images/Franklandscape.jpeg");
    height: 400px;
    background-size: cover;

}

.centered {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.centered h2 {
    font-size: 300px;
    text-shadow: black 2px;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #7d9eda, #dbba44);
    padding: 40px;
}

nav {
    overflow: hidden;
    background-color: #0028db;
    border: solid 1px #13d6db;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1e67c9;
    color: #3FF3FC;
}

footer {
    overflow: hidden;
    background-color: #0028db;
    position: fixed;
    bottom: 0;
    width: 1375px;
    border: solid 2px #dbba44;
}

footer p.copyright {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 400;
    float: left;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    text-decoration: none;
}

footer a:hover {
    background-color: #1e67c9;
    color: #3FF3FC;
}